<h1>create a new suffering</h1>

<%= form_for (@suffering) do |f| %>

  <%= f.label :diagnosis_date %><br/>
  <%= f.date_field :diagnosis_date %><br/><br/>

  <%= f.label :notes %><br/>
  <%= f.text_area :notes %><br/><br/>

  <%= f.label :chronic %><br/>
  <%= f.check_box :chronic %><br/>

  <%= f.label :status %><br/>
  <%= f.select :status, Suffering.statuses.keys.map { |w| [w.humanize, w] } %> <br/>

  <%= hidden_field_tag :cat_id, params[:cat_id] %>

  <!--For the illness id searcher we need implement the illness controller and do this -> https://rubyplus.com/articles/3381-Simple-Search-Form-in-Rails-5 TODO-->
  <%= hidden_field_tag :illness_id, 1 %> <!--This will replaced with the searcher -->

  <!--To Do add "new illness" link -->
  
  <%= f.submit %>
<% end %>