<h1><%= t('mailers.colony_application.notify_mods.title', colony: @colony.name) %></h1>

<p><%= t('mailers.colony_application.notify_mods.intro', colony: @colony.name) %></p>

<p>
  <%= @msg %>
</p>

<p><%= t('mailers.colony_application.notify_mods.body') %></p>

<%= link_to approve_colony_application_url(@app) do %>
  <%= t('applications.approve') %>
<% end %>