<section class="row container">
  <div class="col-sm-12">
    <h1><%= t 'landing.collaborate.intro.title' %></h1>
    <p><%= t 'landing.collaborate.intro.text_1' %></p>
    <p><%= t 'landing.collaborate.intro.text_2' %></p>
    <div class="center">
      <img src="corazon.svg" class="landing-illustration" />
    </div>
  </div>
</section>
<section class="eter-section">
  <div class="row container">
    <div class="col-sm-12 col-md-4 flex-card">
      <div class="flex-card-main">
        <h1><%= t 'landing.collaborate.sponsor.title' %></h1>
        <p><%= t 'landing.collaborate.sponsor.text' %></p>
      </div>
      <div class="center">
        <div class="card-pic">
          <img src="apadrina.gif" class="full-width animated" />
          <img src="apadrina.png" class="full-width static" />
          <img src="apadrina.png" class="full-width invisible" />
        </div>
        <button type="button" class="btn btn-primary action-button"><%= t 'landing.shared.action_button' %></button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 flex-card">
      <div class="flex-card-main">
        <h1><%= t 'landing.collaborate.adopt.title' %></h1>
        <p><%= t 'landing.collaborate.adopt.text' %></p>
      </div>
      <div class="center">
        <div class="card-pic">
          <img src="adopta.gif" class="landing-illustration animated" />
          <img src="adopta.png" class="landing-illustration static" />
          <img src="adopta.png" class="landing-illustration invisible" />
        </div>
        <button type="button" class="btn btn-primary action-button"><%= t 'landing.shared.action_button' %></button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 flex-card">
      <div class="flex-card-main">
        <h1><%= t 'landing.collaborate.donate.title' %></h1>
        <p><%= t 'landing.collaborate.donate.text' %></p>
      </div>
      <div class="center">
        <div class="card-pic">
          <img src="dona.gif" class="full-width animated" />
          <img src="dona.png" class="full-width static" />
          <img src="dona.png" class="full-width invisible" />
        </div>
        <button type="button" class="btn btn-primary action-button"><%= t 'landing.shared.action_button' %></button>
      </div>
    </div>
  </div>
</section>

<section class="row container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h1><%= t 'landing.collaborate.volunteer.title' %></h1>
        <p><%= t 'landing.collaborate.volunteer.text' %></p>
      </div>
      <div class="col-sm-12 col-md-1"></div>
      <div class="col-sm-12 col-md-7">
        <form>
          <div class="form-group">
            <label for="inputEmail"><%= t 'landing.collaborate.form.email' %></label>
            <input type="email" class="form-control" id="inputEmail">
          </div>
          <div class="form-group">
            <label for="inputName"><%= t 'landing.collaborate.form.name' %></label>
            <input type="text" class="form-control" id="inputName">
          </div>
          <div class="form-group">
            <label for="inputMessage"><%= t 'landing.collaborate.form.message' %></label>
            <textarea class="form-control" id="inputMessage" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary action-button"><%= t 'landing.collaborate.form.submit' %></button>
        </form>
      </div>
    </div>
  </div>
</section>