<section class="center" style="background: white">
  <div class="container">
    <h1 class="orange humungous-title">¡Colonia a la vista!</h1>
    <div class="card-pic center center-block" style="padding-bottom: 10em">
      <img src="explorar.gif" class="landing-illustration-micro animated" />
      <img src="explorar.png" class="landing-illustration-micro static-white" />
      <img src="explorar.png" class="landing-illustration-micro invisible" />
    </div>
  </div>
</section>

<section class="eter-section">
  <div class="container row">
    <div class="col-sm-12 col-lg-8">
      <h2><%= t 'landing.learn.manifest' %></h2>
      <span class="breathe"></span>
      <ol class="manifest">
        <li><%= t 'landing.learn.article0' %></li>
        <li><%= t 'landing.learn.article1' %></li>
        <li><%= t 'landing.learn.article2' %></li>
        <li><%= t 'landing.learn.article3' %></li>
        <li><%= t 'landing.learn.article4' %></li>
      </ol>
    </div>
    <div class="col-sm-12 col-lg-4 flex-card">
      <div class="flex-card-main"></div>
      <img src="signal.svg" class="full-width" />
    </div>
  </div>
</section>