<div class="card-header">
  <h1 class="d-inline-block"><%= t 'users.sign_in' %></h1>
  <img src="/logo.svg" class="mini-logo"/>
</div>
<div class="card-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %><br />
      <%= react_component("Input", props: {dark: true, name: 'user[email]', type: 'email', size:'full-size'}, prerender: false) %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= react_component("Input", props: {dark: true, name: 'user[password]', type: 'password', size:'full-size'}, prerender: false) %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= react_component("Button", props: {name: 'user[password_confirmation]', block: true,
                          transparent: true, type: 'primary', inverted: true, value:'Log in',
                          target: new_session_path(resource_name)}, prerender: false) %>
      <%= react_component("Button", props: {name: 'user[password_confirmation]', block: true,
                          transparent: true, type: 'primary', inverted: true, value:'Sign up'}, prerender: false) %>
    </div>
<% end %>