<h1><%= t('colonies.index_title') %></h1>
<div class="d-flex justify-content-between mb-4">
  <p><%= t 'colonies.index_intro' %></p>
  <%= react_component("Button", props: {type: 'success', value: t('colonies.new'), target: new_colony_path}, prerender: false) %>
</div>
<div class="card-columns">
<% @colonies.each do | colony | %>
  <% if policy(colony).join? %>
    <%= react_component("Card", props: {title: colony.name, link: join_colony_path(colony), image: 'colony_icon.png', footer: t('colonies.join')}, class:'card', prerender: false) %>
  <% elsif policy(colony).manage? %>
    <%= react_component("Card", props: {title: colony.name, link: colony_path(colony), image: 'colony_icon.png', footer: t('shared.manage')}, class:'card', prerender: false) %>
  <% else %>
    <%= react_component("Card", props: {title: colony.name, image: 'colony_icon.png', footer: t('colonies.application_sent')}, class:'card', prerender: false) %>
  <% end %>
<% end %>
</div>