<h1>
  <%= @colony.name %>
</h1>
<p>
  <%= @colony.bio %>
</p>
<br />

<div class='d-flex'>
  <div class='p-2'><%= t('tasks.title') %></div>
  <div class='p-2'><%=react_component('Tag', props: {type: 'error', children: @colony.tasks.count })%></div>
  <div class='ml-auto p-2'><%=react_component('Button', props: {type: 'success', value: t('tasks.new'), target: new_task_path })%></div>
</div>
<% if @colony.tasks.count > 0 %>
  <% @colony.tasks.each do | task | %>
    <%= react_component("Card", props: {title: task.name, body: task.description, link: task_path(task), action1: t('tasks.assigned_to', user: current_user.username)}, class:'card', prerender: false) %>
  <% end %>
<% end %>

<% if @applications.count > 0 %>
<div class='d-flex'>
  <div class='p-2'><%= t('applications.title') %></div>
  <div class='p-2'><%=react_component('Tag', props: {type: 'error', children: @applications.count })%></div>
</div>
  <% @applications.each do | app | %>
  <%= react_component("Card", props: {title: app.user.email, body: app.message, action1Link: approve_colony_application_path(app), action1: t('applications.approve'), action2Link: dismiss_colony_application_path(app), action2: t('applications.dismiss')}, class:'card', prerender: false) %>
  <% end %>
<% end %>


<div class='d-flex'>
  <div class='p-2'><%= t('cats.title') %></div>
  <div class='p-2'><%=react_component('Tag', props: {type: 'error', children: @colony.cats.count })%></div>
  <div class='ml-auto p-2'><%=react_component('Button', props: {type: 'success', value: t('cats.new'), target: new_cat_path(colony_id: @colony.id) })%></div>
</div>
<% if @cats.count > 0 %>
  <div class="card-columns">
    <% @cats.each do |cat| %>
    <%= react_component('Card', props: {title: cat.name, link: cat_path(cat), image: avatar_tag(cat), action1: t('shared.manage')}, class:'card', prerender: false) %>
    <% end %>
  </div>
<% end %>
