<h2><%= @cat.name %></h2>
<%= form_for(@cat) do |f| %>
  <% if @cat.errors.any? %>
    <div class="form-errors">
        <h2>There are <%= pluralize(@cat.errors.count, "error") %> errors in your data:</h2>
        <% @cat.errors.full_messages.each do |msg| %>
          <h4><%= msg %></h4>
        <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= react_component("Input", props: {name: 'cat[name]', size:'full-size'}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :birthday_date %><br>
    <%= react_component("Input", props: {name: 'cat[birthday_date]', type: 'date', size:'full-size'}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= react_component("Switch", props: {name: 'cat[gender]', onLabel:"Male", offLabel:"Female", large: true}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, class: 'input full-width' %>
  </div>
  <div class="field">
    <%= f.label :abandoned_date %><br>
    <%= react_component("Input", props: {name: 'cat[abandoned_date]', type: 'date', size:'full-size'}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :colony %><br>
    <%= react_component("Dropdown", props: {name: 'cat[colony_id]', items: Colony.all.collect {|u| [u.name, u.id]}}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= react_component("TextArea", props: {name: 'cat[bio]', full: true, rows: 10}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= react_component("Input", props: {name: 'cat[document]', size:'full-size'}, prerender: false) %>
  </div>
  <div class="field">
    <%= f.label :sterilized %><br>
    <%= react_component("Dropdown", props: {name: 'cat[sterilized]', items: [['Yes', :yes], ['No', :no]]}, prerender: false) %>
  </div>

  <br/>
  <%= react_component("Button", props: {type: 'success', value: t('cats.edit')}, prerender: false) %>
<% end %>