<%= form_for(@cat) do |f| %>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio%>
  </div>
  <div class="field">
    <%= f.label :birthdate_date %><br>
    <%= f.date_field :birthdate_date %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :sterillized %><br>
    <%= f.check_box :sterillized %>
  </div>
  <div class="field">
    <%= f.label :abandoned_date %><br>
    <%= f.date_field :abandoned_date %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.label :colony_id %><br>
    <%= f.select(:colony_id, Colony.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select') %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>