<h2>Sponsor</h2>
<%= form_tag sponsor_cat_path do %>
  <div class="field">
    <%= label_tag :amount %><br>
    <%= number_field_tag :amount, nil, min: 1, max: 666 %>
  </div>
  <div class="field">
    <%= label_tag :renovate %><br>
    <%= hidden_field_tag :renovate, '0' %>
    <%= check_box_tag :renovate %>
  </div>
  <%= hidden_field :id, params[:id] %>
  <br/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
