<%= image_tag(@cat.avatar) if !@cat.avatar.nil? %>
<hr>
<h1>name: <%= @cat.name %>  </h1>
<hr>
<p>bio: <%= @cat.bio %>  </p>
<p>birthday: <%= @cat.birthdate_date %>  </p>
<p>gender: <%= @cat.gender %>  </p>
<p>sterilized: <%= @cat.sterilized %>  </p>
<% if !(@cat.abandoned_date.nil?) %>
    <p>abandoned: <%= @cat.abandoned_date %>  </p>
<% end %>
<% if !(@cat.document.nil?) %>
    <p>document: <%= @cat.document %>  </p>
<% end %>
<%  if policy(@cat).volunteer_or_admin? %>
    <%= link_to "New suffering", new_suffering_path(:cat_id => @cat.id) %>
    <%= link_to "Delete", cat_path(:id => @cat.id), :method => :delete, data: { confirm: 'Are you sure?' } %>
<% end %>