
<div class="col-xs-12 col-lg-8 float-left">
<div class="d-flex mb-4">
    <div class="mr-4"><%= react_component("Avatar", props: {src: @cat.avatar, size: 'bg'}, prerender: false) %></div>
    <div>
        <h1><%= @cat.name %></h1>
        <%= react_component("Tag", props: {type: 'success', children: 'Sterilized'}, prerender: false) if @cat.sterilized %>
        <%= time_ago_in_words @cat.birthday_date %></br>
        <% if !(@cat.abandoned_date.nil?) %>
            Abandonado/a hace <%= time_ago_in_words @cat.abandoned_date %></br>
        <% end %>
        <%= @cat.gender %>
    </div>
</div>
<p><%= @cat.bio %></p>

<h2>Health</h2>
    <% @cat.sufferings.each do |condition| %>
        <%= react_component("Card", props: {title: condition.illness.name, body: 'Diagnosed on ' + condition.diagnosis_date.to_s, footerLink: suffering_path(condition), footer: 'Review'}, class:'card', prerender: false) %>
    <% end %>
</div>
<div class="col-xs-12 col-lg-4 float-right">
    <%= react_component("Card", props: {title: @cat.colony.name, link: colony_path(@cat.colony), image: @cat.avatar, center: true}, class:'card', prerender: false) %>
</div>

