<!DOCTYPE html>
<html>
  <head>
    <title>Conexión Felina</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img class="left-margin" src="leaves.svg" />
    <img class="right-margin" src="leaves2.svg" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/work">Labor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/league">Liga Gatuna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <img src ="logo.svg" class="brand-logo d-none d-lg-inline" />
              <span class="d-inline d-lg-none">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collaborate">Colabora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/learn">Aprende</a>
          </li>
        </ul>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_class(key) %>" role="alert">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <footer class="grey-section">
      <p class="center">Conexión Felina - Colonia Viveros - 2018</p>
      <p class="center"><a href="https://www.instagram.com/coloniaviveros/"><img src="instagram.svg" class="mini-icon" /></a></p>
    </footer>
  </body>
</html>